@import url('https://fonts.googleapis.com/css2?family=Convergence&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Protest+Strike&display=swap');

:root {
    --bg-nav: #031407;
    --footer_table_text: #1D2D20;
    --movie-bg: #ECEFD8;
    --white: #fff;
    --black: #000;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--movie-bg);
}

/*================================== hide scrollbar ==================================*/
html {
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

/*================================== navigation ==================================*/
nav {
    display: flex;
    width: 100%;
    height: 3.1vw;
    background-color: var(--bg-nav);
    z-index: 500;
    position: fixed;
    justify-content: flex-end;
}   

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3vw;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 5vw;
}

nav a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.46vw;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    display: block; 
    transition: transform 0.1s ease;
}

nav a:hover {
    transform: scale(1.1);
}

nav a:focus {
    outline: 1px solid var(--white);
}

.circle-totoro {
    width: 4.4vw;
    height: 4.4vw;
    display: flex;
    position: fixed;
    z-index: 2000;
    background-blend-mode: darken;
    margin-left: 1.6vw;
    margin-top: 0.6vw;
}

.circle-totoro img:hover {
    cursor: pointer;
}

/*----------- hamburger -----------*/
.hamburger {
    display: none; 
    flex-direction: column;
    cursor: pointer;
}

/*================================== INDEX.HTML ==================================*/
/*----------- top portion -----------*/
.index-background {
    background-color: var(--bg-nav);
    position: relative;
    z-index: 0;
}

#bg-upper img{
    width: 100%;
    height: auto;
    filter: blur(5px);
    margin-bottom: 0;
    top: 0; 
    left: 0; 
    z-index: 0;
}

#text-logo {
    display: flex;
    position: relative;
    width: 95vw;
    height: 35vw;
    flex-shrink: 0;
    z-index: 5;
    top: -45.5vw;
    left: 2.6vw;
    justify-content: center;
}

/*----------- middle background -----------*/
#middle-background {
    display: flex;
    flex-direction: column;
    width: 101%;
    height: 100vw;
    top: -35.2vw;
    position: relative;
    z-index: 0;
}

/*----------- all-movies -----------*/
.all-movies {
    display: grid;
    position: relative;
    grid-template-columns: repeat(5, 13.7vw);
    justify-content: center;
    grid-gap: 1.4vw;
    padding: 1.8vw 0;
    margin-top: -132vw;
    z-index: 2;
}

.all-movies img {
    width: 13.7vw;
    height: auto;
    border-radius: 1.1vw;
    transition: transform 0.3s ease;
    box-shadow: 0 0.3vw 1vw var(--bg-nav);
}

.all-movies img:hover {
    transform: scale(0.9);
    box-shadow: 0 0 1.2vw 0.2vw var(--footer_table_text);
}

.space {
    opacity: 0;
}

/*================================== MOVIES.HTML ==================================*/
/*----------- background & cover -----------*/
.background img {
    position: relative;
    display: block;
    width: 100%;
    height: 53.5vw;
    z-index: 2;
}

.background {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}

.background::after {
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.76);
    z-index: 3; 
}

.cover {
    display: flex;
    justify-content: center;
    margin-top: -47.5vw;
    margin-right: 60vw;
}

.cover img {
    width: 26.4vw;
    height: 36.2vw;
    object-fit: cover;
    border-radius: 1.5vw;
    z-index: 4;
}

/*----------- movie details -----------*/
.title {
    position: relative;
    color: var(--white);
    width: 52vw;
    height: 9vw;
    font-family: 'Protest Strike', sans-serif;
    font-size: 3.8vw;
    font-weight: 400;
    margin-top: -34vw;
    margin-left: 38vw;
    justify-content: center;
    z-index: 5;
}

.description {
    position: relative;
    color: var(--white);
    width: 50vw;
    height: 28.6vw;
    font-family: 'Mulish', sans-serif;
    font-size: 1.8vw;
    justify-content: center;
    margin-top: -3.6vw;
    margin-left: 38vw;
    z-index: 5;
}

/*----------- table -----------*/
table {
    border-collapse: collapse;
    border: none;
    margin-top: 13vw;
    margin-left: 7vw;
}

th, td {
    text-align: left; 
    padding: 0.5vw;
    border: none;
}   

.table-left, .table-right {
    width: 20vw;
    height: 3vw;
    font-family: 'Convergence', sans-serif;
    font-size: 1.5vw;
    padding-left: 1.2vw;
}

.table-left {
    color: var(--white);
    background-color: var(--footer_table_text);
    border: 1px solid rgba(255, 255, 255, 0.60);
    border-left: none;
    border-right: none;
}

.table-right {
    color: var(--black);
    background-color: var(--white);
    border: 1px solid rgba(3, 20, 7, 0.60);
    border-left: none;
    border-right: none;
}

.genre {
    border: none;
}

.top {
    border-top: none;
}

.bottom {
    border-bottom: none;
}

/*----------- trailer -----------*/
.trailer-img {
    margin-top: -33vw;
    margin-left: 56.4vw;
}

.trailer-img img {
    position: relative;
    width: 34.48vw;
    height: 18.6vw;
    filter: blur(2px);
    border: 2px solid var(--black);
    z-index: 6;
}

.play-button {
    position: relative;
    top: -11.5vw;
    margin-left: 68.4vw;
    z-index: 7;
}

.play-button img {
    width: 10vw;
    height: 4vw;
    transition: transform 0.3s ease;
}

.play-button img:hover {
    transform: scale(1.06);
}

.TRAILER {
    position: relative;
    width: 26vw;
    height: 18vw;
    color: var(--footer_table_text);
    font-family: "Protest Strike", sans-serif;
    font-size: 3.6vw;
    font-weight: 400;
    margin-left: 57vw;
    margin-top: -2vw;
}

.trailer-title {
    position: relative;
    width: 33vw;
    height: 8vw;
    justify-content: center;
    color: var(--footer_table_text);
    font-family: "Convergence", sans-serif;
    font-size: 1.9vw;
    font-weight: 400;
    margin-left: 57vw;
    margin-top: -13.1vw;
}

/*================================== footer ==================================*/
footer {
    background-color: var(--footer_table_text);
    color: var(--white);
    width: 100%;
    height: 1vw;
    position: relative;
    margin-top: 2.5vw;
    min-height: 16.25vw; 
    overflow: hidden; 
}

.totoro img {
    width: 9.6vw;
    height: 14vw;
}

.totoro {
    position: relative;
    bottom: 8.6vw;
    left: 3.6vw;
    z-index: 8;
}

.studio-ghibli {
    width: 22vw;
    height: 4vw;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 1.3vw;
    display: flex;
    align-items: center;
    margin-left: 14vw;
    padding-top: 5.2vw;
}

.ghibli-text {
    position: relative;
    width: 20vw;
    height: 5vw;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 0.789vw;
    line-height: 1.1vw;
    display: flex;
    align-items: center;
    margin-left: 14vw;
    margin-top: 1vw;
    z-index: 1;
}

.line {
    position: relative;
    width: 90vw;
    height: 0.06vw;
    background-color: var(--white);
    margin: auto;
    top: 0.8vw;
}

.contact-us {
    width: 22vw;
    height: 4vw;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 1.3vw;
    align-items: center;
    margin-left: 68vw;
    margin-top: -6.8vw;
}

.icons img {
    width: 3.6vw;
    height: 3.6vw;
}

.icons {
    position: relative;
    margin-left: 68vw;
    margin-top: -1.4vw;
    display: grid;
    grid-template-columns: repeat(5, 2.2vw);
    grid-gap: 2.2vw; 
    z-index: 10;   
}

.name {
    width: 24vw;
    height: 6vw;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    align-items: center;
    margin-left: 68.2vw;
    margin-top: -11.6vw;
}

/* ================================ Tablet View ================================ */
@media (min-width: 768px) and (max-width: 1024px) {
    /*----- navigation -----*/
    nav ul {
        gap: 3vw;
    }

    nav a {
        font-size: 1.8vw; 
    }
    
    nav {
        height: 4vw;
    }

    .circle-totoro {
        width: 6.6vw;
        height: 6.6vw;
        margin-left: 2vw;
        margin-top: 1.4vw;
    }

    /*----- top portion -----*/
    #text-logo {
        height: 46vw;
        top: -47vw;
    }

    /*----- middle background -----*/
    #middle-background {
        top: -46vw;
    }

    /*----- all-movies -----*/
    .all-movies {
        grid-template-columns: repeat(5, 14vw);
        grid-gap: 3vw;
        row-gap: 1.4vw;
        margin-top: -143.9vw;
        pointer-events: auto;
    }

    .all-movies img {
        position: relative;
        width: 15vw;
        height: auto;
        border-radius: 1.5vw;
        z-index: 100;
    }

    /*----- background & cover -----*/
    .background img {
        height: 57vw;
    }

    .cover img {
        width: 27vw;
        height: 40vw;
    }

    /*----- movie details ----- */
    .title {
        font-size: 4vw;
        width: 60vw;
        margin-top: -38vw;
        margin-left: 40vw;
    }

    .description {
        font-size: 1.8vw;
        margin-left: 40vw;
    }

    /*----- table -----*/
    table {
        margin-top: 13vw;
        margin-left: 5.6vw;
    }

    .table-left, .table-right {
        width: 24vw;
        height: 4.5vw;
    }

    /* Trailer */
    .trailer-img img {
        width: 36vw;
        height: 19vw;
        filter: blur(1.6px);
        border: 1px solid var(--black);
    }

    .trailer-img {
        margin-left: 58.4vw;
        margin-top: -46vw;
    }

    .play-button img {
        width: 12vw;
        height:5vw;
    }

    .play-button {
        left: 1.6vw;
        top: -12.1vw;
    }

    .TRAILER {
        font-size: 4vw;
        left: 2vw;
    }

    .trailer-title {
        font-size: 2.2vw;
        top: 1vw;
        left: 2vw;
        height: 25.8vw;
    }

    /*----- footer -----*/
    .studio-ghibli {
        font-size: 2vw;
        margin-top: -1vw;
    }

    .ghibli-text {
        font-size: 1.4vw;
        width: 50vw;
        line-height: 2vw;
        margin-top: 2.1vw;
    }

    .line {
        top: 1.6vw;
    }

    .contact-us {
        font-size: 2vw;
        margin-top: -8vw;
    }

    .icons img {
        width: 4vw;
        height: 4vw;
    }

    .icons {
        grid-gap: 2.6vw;
        margin-top: -0.6vw;
    }
}

/* ================================ Mobile View ================================ */
@media screen and (max-width: 767px) {
    * {
        box-sizing: border-box; 
    }

    body {
        overflow-x: hidden;
        overflow-y: auto;
        margin: 0;
        padding: 0;
    }

    /*--- navigation ---*/
    nav {
        height: 7vw;
        width: 100vw;
    }

    .circle-totoro {
        width: 12vw;
        height: 12vw;
        margin-top: 2vw;
        margin-left: 3vw;
    }

    /*--- hamburger ---*/
    #desktop-tablet-nav {
        position: fixed;
        top: 0;
        right: -100vw;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.90); 
        z-index: 1001;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right 0.5s ease-in-out;
    }

    #desktop-tablet-nav.active {
        right: 0;
    }

    #desktop-tablet-nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #desktop-tablet-nav li {
        margin: 2vw 0;
    }

    #desktop-tablet-nav li a {
        color: var(--white);
        text-decoration: none;
        font-size: 1.4rem;
        padding: 1vw;
    }
    
    .hamburger {
        position: fixed;
        display: flex; 
        flex-direction: column;
        justify-content: space-around;
        top: 1.5vw;
        left: 92vw;
        z-index: 1005;
    }

    .hamburger span {
        height: 1px; 
        width: 20px; 
        background: var(--white); 
        border-radius: 3px;
        margin: 2.2px 0; 
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }

    /*--- top portion ---*/
    #bg-upper img {
        margin-top: 7vw;
    }

    #text-logo {
        top: -44vw;
    }

    /*--- middle background ---*/
    #middle-background img {
        display: none;
    }

    #middle-background {
        background-image: url('../other_img/bg_middle.png');
        background-repeat: repeat-y;
        background-size: 200vw 200vw;
        width: 100%;
        height: 330vw;
    }

    .space {
        display: none;
    }

    /*--- all-movies ---*/
    .all-movies {
        grid-template-columns: repeat(3, 27vw);
        grid-gap: 2vw;
        margin-top: -360vw;
    }

    .all-movies img {
        position: relative;
        width: 26vw;
        height: auto;
        }
    
    /*--- MOVIES.HTML ---*/
    /*--- background & cover ---*/
    .background img {
        height: 80vh;
        width: 100%;
        object-fit: cover;
    }

    .cover img{
        width: 54vw;
        height: 70vw;
        object-fit: cover;
        border-radius: 4vw;
        margin-left: 57vw;
        margin-top: -110vw;
    }
    
    /*--- movie details ---*/
    .title {
        width: 100%;
        text-align: center;
        font-size: 7vw;
        margin-top: -33vw;
        margin-left: -1vw;
    }

    .description {
        font-size: 3vw;
        width: 80vw;
        margin-top: 4vw;
        margin-left: 11vw;
        text-align: justify;
    }

    /*--- table ---*/
    table {
        margin-top: 48vw;
        margin-left: 10vw;
    }

    .table-left, .table-right {
        width: 40vw;
        height: 8vw;
        font-size: 3.4vw;
        padding: 2vw 2vw 2vw 3vw;
    }

    /*--- trailer ---*/ 
    .trailer-img {
        margin-top: 10vw;
        margin-left: 20vw;
    }

    .trailer-img img {
        width: 60vw;
        height: auto;
    }

    .play-button {
        top: -21vw;
        left: -28vw;
    }

    .play-button img {
        width: 18vw;
        height: auto;
    }

    .TRAILER {
        font-size: 6vw;
        left: -36vw;
        top: -3vw;
    }

    .trailer-title {
        font-size: 4vw;
        width: 60vw;
        left: -36vw;
    }
    
    .invi {
        height: 7vw;
    }

    /*--- footer ---*/
    footer {
        height: 29vh;
        }

    .contact-us {
        font-size: 4vw;
        margin-left: 40vw;
    }

    .icons img {
        width: 10vw;
        height: 10vw;
    }

    .icons {
        margin-left: 22vw;
        margin-top: 3vw;
        grid-gap: 9.4vw;
    }

    .line {
        top: 15vw;
    }

    .totoro img {
        width: 23vw;
        height: auto;
    }

    .totoro {
        left: 6vw;
        top: 7vw;
    }

    .studio-ghibli {
        position: relative;
        width: 50vw;
        font-size: 4.4vw;
        top: 30vw;
        left: 17vw;
    }

    .ghibli-text {
        position: relative;
        width: 66vw;
        font-size: 3vw;
        line-height: 3.8vw;
        top: 38vw;
        left: 17vw;
    }

    .name {
        position: relative;
        width: 60vw;
        font-size: 3vw;
        top: 12vw;
        left: -37vw;
    }
    
}

@media (min-width: 320px) and (max-width: 480px) {
    .background img {
        height: 160vw;
    }

    .cover {
        margin-top: -35vw;
    }

    table {
        margin-top: 30vw;
    }

    .TRAILER {
        margin-top: 1vw;
    }

    .trailer-title {
        margin-top: -12vw;
    }

    #contact {
        min-height: 63vw;
    }

}

@media (min-width: 481px) and (max-width: 600px) {
    .background img {
        height: 160vw;
    }

    .cover {
        margin-top: -32vw;
    }

    table {
        margin-top: 30vw;
    }

    .TRAILER {
        margin-top: 1vw;
    }

    .trailer-title {
        margin-top: -12vw;
    }

    #contact {
        min-height: 63vw;
    }
}

/* ================================ MEDIA PRINT ================================ */
@media print {
    header, #bg-upper img, #text-logo, #middle-background img, .space, footer, .background img, .cover, .trailer-img img, .play-button, .TRAILER, .trailer-title, .invi {
        display: none;
    }

    body {
        background-color: var(--white);
        color: var(--black);
    }

    .all-movies {
        margin-top: -90vw;
    }

    .all-movies img {
        box-shadow: none;
    }

    .title, .description, table, .table-left, .table-right {
        margin-top: 10vw;
        color: var(--black);
        font-family: sans-serif;
        font-size: 12px;
        margin-left: 8vw;
    }

    .table-left, .table-right {
        border: 1px solid var(--black);
    }

    .title {
        width: 50vw;
        margin-top: 10vw;
        font-weight: bold;
        font-size: 15px;
    }

    .description {
        width: 80vw;
        margin-top: -5vw;
    }

    table {
        margin-top: -14vw;
    }
}
